# Lab 06 - Q4-Q8

## Q5

In [1]:
import pandas as pd
df = pd.read_csv("world_alcohol_consumption.csv")
print(df.columns)
print(df.shape)

Index(['Country', 'Year', 'Alcohol_Consumption'], dtype='object')
(23, 3)

## Q6

In [14]:
import pandas as pd
df = pd.read_csv("world_alcohol_consumption.csv")
print(df)
df.loc[(df['Year'] == 1987) |  (df['Year']==1989)]

           Country  Year  Alcohol_Consumption
0        Argentina  2019                  9.0
1        Australia  2019                 11.0
2          Austria  2019                 12.5
3          Belgium  2019                 10.5
4           Brazil  2019                  7.5
5           Canada  2019                  8.5
6            Chile  2019                 13.0
7            China  2019                  4.5
8           France  2019                 12.0
9          Germany  2019                 13.0
10           India  2019                  4.0
11           Italy  2019                 10.0
12           Japan  2019                  6.0
13          Mexico  2019                  7.0
14        Malaysia  1987                  5.0
15     Netherlands  2019                 10.0
16     New Zealand  2019                  9.5
17          Russia  2019                 15.0
18         Albania  1989                 11.0
19    South Africa  2019                  9.0
20           Spain  2019                 11.5
21  United Kingdom  2019                 11.0
22   United States  2019                  8.0

     Country  Year  Alcohol_Consumption
14  Malaysia  1987                  5.0
18   Albania  1989                 11.0

## Q7

In [3]:
import pandas as pd
specified_year = 2020
df = pd.read_excel("http://localhost:8888/lab/tree/Desktop/Notebook/LAB%2006/employee.xlsx")  # i don't know why I am not able to read excel file
filtered_df = df.loc[df['Date Hired'] == specified_year]
print(filtered_df)

ValueError: Excel file format cannot be determined, you must specify an engine manually.

## Q8

In [5]:
import pandas as pd


products = pd.read_csv('products.csv')
orders = pd.read_csv('orders.csv')

#showing the first 5 and last 10 rows of each DataFrame
print("Products DataFrame:")
print(products.head(5))
print(products.tail(10))

print("\nOrders DataFrame:")
print(orders.head(5))
print(orders.tail(10))

# Total revenue generated from all orders
# Merging orders with products on ProductID to get the Price for each Product
orders = orders.merge(products[['ProductID', 'Price']], on='ProductID')

# Calculating total revenue per order
orders['TotalRevenue'] = orders['Quantity'] * orders['Price']
total_revenue = orders['TotalRevenue'].sum()
print("\nTotal Revenue Generated from All Orders: $", total_revenue)

#top 5 best-selling products
best_seller = orders.groupby('ProductID').agg({'Quantity': 'sum'}).nlargest(5, 'Quantity')
best_seller_names = products[products['ProductID'].isin(best_seller.index)]
print("\nTop 5 Best-Selling Products:")
print(best_seller_names)

#top 5 low selling products
low_seller = orders.groupby('ProductID').agg({'Quantity': 'sum'}).nsmallest(5, 'Quantity')
low_seller_names = products[products['ProductID'].isin(low_seller.index)]
print("\nTop 5 Low Selling Products:")
print(low_seller_names)

#most common product category among the top 5 best-selling products
best_selling_categories = best_seller_names['Category'].value_counts()
most_common_category = best_selling_categories.idxmax()
print("\nMost Common Product Category Among Top 5 Best-Selling Products:", most_common_category)

#average price of products in each category
average_price_per_category = products.groupby('Category')['Price'].mean()
print("\nAverage Price of Products in Each Category:")
print(average_price_per_category)

#day, month, and year separately with the highest total revenue
orders['Order Date'] = pd.to_datetime(orders['Order Date'], format='%m-%d-%Y') #using regex to format date
orders['Day'] = orders['Order Date'].dt.day
orders['Month'] = orders['Order Date'].dt.month
orders['Year'] = orders['Order Date'].dt.year

# Total revenue per day, month, and year
daily_revenue = orders.groupby(['Year', 'Month', 'Day'])['TotalRevenue'].sum().reset_index()
highest_revenue_day = daily_revenue.loc[daily_revenue['TotalRevenue'].idxmax()]
print("\nHighest Total Revenue Day, Month, and Year:")
print(f"Day: {highest_revenue_day['Day']}, Month: {highest_revenue_day['Month']}, Year: {highest_revenue_day['Year']}")

#a new DataFrame that shows the total revenue for each month
monthly_revenue = orders.groupby(orders['Order Date'].dt.to_period('M'))['TotalRevenue'].sum().reset_index()
monthly_revenue.columns = ['Month', 'TotalRevenue']
print("\nTotal Revenue for Each Month:")
print(monthly_revenue)

#check for null values or invalid characters
print("\nNull Values in Products DataFrame:")
print(products.isnull().sum())

print("\nNull Values in Orders DataFrame:")
print(orders.isnull().sum())

#cleaning data if null values are found
products.dropna(inplace=True)
orders.dropna(inplace=True)

#checking for invalid characters in ProductID and Quantity columns (for orders)
orders= orders[orders['ProductID'].apply(lambda x: isinstance(x, int)) & orders['Quantity'].apply(lambda x: isinstance(x, int))]

print("\nCleaned Data:")
print(orders)

Products DataFrame:
   ProductID ProductName     Category   Price
0          1       Phone  Electronics  699.99
1          2      Laptop  Electronics  999.99
2          3      Tablet  Electronics  399.99
3          4  Headphones  Accessories  149.99
4          5     Charger  Accessories   29.99
    ProductID ProductName     Category   Price
2           3      Tablet  Electronics  399.99
3           4  Headphones  Accessories  149.99
4           5     Charger  Accessories   29.99
5           6          TV  Electronics  899.99
6           7      Camera  Electronics  499.99
7           8     Speaker  Accessories  199.99
8           9  Smartwatch  Accessories  299.99
9          10    Keyboard  Accessories   79.99
10         11       Mouse  Accessories   49.99
11         12     Monitor          NaN     NaN

Orders DataFrame:
   Order ID  ProductID  Quantity  Order Date
0      1001          1         2  07-15-2023
1      1002          2         1  07-16-2023
2      1003          5         3  07-17-2023
3      1004          3         1  07-18-2023
4      1005          4         5  07-19-2023
    Order ID  ProductID  Quantity  Order Date
38      1039          9         2  08-17-2023
39      1040         11         2  08-18-2023
40      1041          7         1  08-19-2023
41      1042         10         3  08-20-2023
42      1043         15         1  08-21-2023
43      1044          2         2  08-22-2023
44      1045          8         2  08-23-2023
45      1046          1         3  08-24-2023
46      1047         12         4  08-25-2023
47      1048         14         2  08-26-2023

Total Revenue Generated from All Orders: $ 26499.3

Top 5 Best-Selling Products:
    ProductID ProductName     Category   Price
0           1       Phone  Electronics  699.99
1           2      Laptop  Electronics  999.99
3           4  Headphones  Accessories  149.99
10         11       Mouse  Accessories   49.99
11         12     Monitor          NaN     NaN

Top 5 Low Selling Products:
   ProductID ProductName     Category   Price
2          3      Tablet  Electronics  399.99
4          5     Charger  Accessories   29.99
5          6          TV  Electronics  899.99
6          7      Camera  Electronics  499.99
8          9  Smartwatch  Accessories  299.99

Most Common Product Category Among Top 5 Best-Selling Products: Electronics

Average Price of Products in Each Category:
Category
Accessories    134.99
Electronics    699.99
Name: Price, dtype: float64

Highest Total Revenue Day, Month, and Year:
Day: 20.0, Month: 7.0, Year: 2023.0

Total Revenue for Each Month:
     Month  TotalRevenue
0  2023-07      14699.61
1  2023-08      11799.69

Null Values in Products DataFrame:
ProductID      0
ProductName    0
Category       1
Price          1
dtype: int64

Null Values in Orders DataFrame:
Order ID        0
ProductID       0
Quantity        0
Order Date      0
Price           4
TotalRevenue    4
Day             0
Month           0
Year            0
dtype: int64

Cleaned Data:
    Order ID  ProductID  Quantity Order Date   Price  TotalRevenue  Day  \
0       1001          1         2 2023-07-15  699.99       1399.98   15
1       1002          2         1 2023-07-16  999.99        999.99   16
2       1003          5         3 2023-07-17   29.99         89.97   17
3       1004          3         1 2023-07-18  399.99        399.99   18
4       1005          4         5 2023-07-19  149.99        749.95   19
5       1006          1         3 2023-07-20  699.99       2099.97   20
6       1007          9         2 2023-07-20  299.99        599.98   20
7       1008          8         4 2023-07-21  199.99        799.96   21
8       1009         10         1 2023-07-22   79.99         79.99   22
9       1010          2         1 2023-07-22  999.99        999.99   22
10      1011          6         1 2023-07-22  899.99        899.99   22
11      1012          7         2 2023-07-23  499.99        999.98   23
13      1014         11         3 2023-07-24   49.99        149.97   24
14      1016          4         4 2023-07-26  149.99        599.96   26
15      1017          1         2 2023-07-27  699.99       1399.98   27
16      1018          3         1 2023-07-28  399.99        399.99   28
17      1019          2         2 2023-07-29  999.99       1999.98   29
18      1020          5         1 2023-07-30   29.99         29.99   30
19      1023          6         1 2023-08-02  899.99        899.99    2
21      1025          8         2 2023-08-04  199.99        399.98    4
22      1026          7         1 2023-08-05  499.99        499.99    5
23      1027          9         1 2023-08-05  299.99        299.99    5
24      1028          5         1 2023-08-06   29.99         29.99    6
25      1029         11         4 2023-08-07   49.99        199.96    7
26      1031         10         1 2023-08-09   79.99         79.99    9
28      1035          2         2 2023-08-13  999.99       1999.98   13
29      1036          4         1 2023-08-14  149.99        149.99   14
30      1037          3         1 2023-08-15  399.99        399.99   15
31      1038          6         1 2023-08-16  899.99        899.99   16
32      1039          9         2 2023-08-17  299.99        599.98   17
33      1040         11         2 2023-08-18   49.99         99.98   18
34      1041          7         1 2023-08-19  499.99        499.99   19
35      1042         10         3 2023-08-20   79.99        239.97   20
36      1044          2         2 2023-08-22  999.99       1999.98   22
37      1045          8         2 2023-08-23  199.99        399.98   23
38      1046          1         3 2023-08-24  699.99       2099.97   24

    Month  Year
0       7  2023
1       7  2023
2       7  2023
3       7  2023
4       7  2023
5       7  2023
6       7  2023
7       7  2023
8       7  2023
9       7  2023
10      7  2023
11      7  2023
13      7  2023
14      7  2023
15      7  2023
16      7  2023
17      7  2023
18      7  2023
19      8  2023
21      8  2023
22      8  2023
23      8  2023
24      8  2023
25      8  2023
26      8  2023
28      8  2023
29      8  2023
30      8  2023
31      8  2023
32      8  2023
33      8  2023
34      8  2023
35      8  2023
36      8  2023
37      8  2023
38      8  2023